@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    src: url ("../fonts/Montserrat-Regular.ttf") format("ttf");
    font-display: swap;
}
